{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Organizador</title>

    <link rel="stylesheet" href="{% static 'css/crearOrganizador.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginRegister.css' %}">


</head>
<body>
    
    <form method="post">
        {% csrf_token %}
        
        
        <div class="contenedorTotal">
            
            <div class="contenedorForm">
                <h1>Crear Nuevo Organizador</h1>


                {{ form.nombre.label_tag }}
                {{ form.nombre }}
                {{ form.apellido.label_tag }}

                {{ form.apellido }}


                <button type="submit">Guardar</button>

                <a href="{% url 'organizadores' %}">Volver a organizadores</a>
            </div>
        </div>
      
        
       
    </form>


</body>
</html>