{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
</head>

<body>
    
    <div class="eventos">
        <div class="headerEventos">
            <h1>
                Eventos
            </h1>
            
            <!-- REDIRECCIONAR A crearEventos -->
            <a href="{% url 'crearEvento' %}">
                <button>
                    +
                </button>   
            </a>
            
            <a href="{% url 'organizadores' %}">
            <button>organizadores</button>
            </a>

        </div>

        {% for evento in eventos %}
            <div class="eventos-evento">
                
                <div class="eventos-evento-he">
                    <b>{{ evento.nombre }} </b>   
                    <p>{{evento.fecha}}</p>    
                    <p>{{evento.hora}}</p>  

                </div>

                <div class="eventos-organizador">
                    <p>organizador:  </p> <p class="organizador">  {{ evento.organizador}}</p>
                </div>

                <p class="desc">{{evento.descripcion}}</p>
                <p>Lugar: {{evento.lugar}}</p>
    
            </div>

        {% endfor %}
        
    </div>

</body>

</html>