<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>organizadores</h1>

    <!-- LISTAMOS LOS ORGANIZADORES --------------------------- -->
     
    {% for organizador in organizadores %}

        <div class="organizadores-organizador">
            <p>{{organizador.nombre}} {{organizador.apellido}}</p>
        </div>
    {% endfor %}
    
    <a href="{% url 'crearOrganizador' %}">Crear organizador</a>


</body>
</html>